<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>gggg</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h1 style="text-align: center"></h1>

    <link rel="stylesheet" href="table.css">
    <link rel="stylesheet" href="https://www.htmlbook.ru/main.css">
</head>
<body>
<form action="/soviet" target="_blank">
  <button>Советские фильмы</button>
</form>
<form action="/soviet" target="_blank">
  <button>Мультфильмы</button>
</form>
<form action="/soviet" target="_blank">
  <button>Новинки</button>
</form>
<form action="/movies_of_all_time" target="_blank">
  <button>Фильмы всех времен</button>
</form>
<table>
  <colgroup>
    <col span="2" style="background:Fuchsia">
    <!--<col span="2" style="background:violet"> С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
    <col style="background-color:violet"><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
  </colgroup>
  <tr>
    <th>№ п/п</th>
    <th>Пользователь</th>
    <th>Результат, количество очков</th>
    <th>Номер телефона</th>
  </tr>
      {% for el in data %}
        <tr>
          <td>{{loop.index}}</td>
          <td>{{el[0]}}</td>
          <td>{{el[1]}}</td>
          <td>{{el[2]}}</td>
        </tr>
      {% endfor %}

</table>
</body>
</html>