<html>
<head>

<title>Категории фильмов</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<h1 style="text-align: center"></h1>

    <link rel="stylesheet" href="gradient-button.css">
    <link rel="stylesheet" href="https://www.htmlbook.ru/main.css">
</head>
<body style="background-color:black">
<a href="" class="gradient-button">Советские фильмы</a>
<a href="" class="gradient-button">Мультфильмы</a>
<a href="" class="gradient-button">Новинки</a>
<a href="" class="gradient-button">Фильмы всех времен</a>
<a href="" class="gradient-button">Перейти в телеграмм или ВК</a>
</body>
</html>



